Temperatura/ConsumoTemperatura/src/conf/xml-resources/web-service-references/ConversorService/wsdl/localhost_8080/ConverteTemperatura/ConversorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://conversor.servico.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://conversor.servico.com/">

<xs:element name="gerarTemperatura" type="tns:gerarTemperatura"/>

<xs:element name="gerarTemperaturaResponse" type="tns:gerarTemperaturaResponse"/>

<xs:complexType name="gerarTemperatura">
<xs:sequence>
<xs:element name="c" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="gerarTemperaturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:temperatura" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="temperatura">
<xs:sequence>
<xs:element name="c" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>